@import "tailwindcss";

@font-face {
  font-family: "Nanum Myeongjo Regular";
  font-style: normal;
  font-weight: 400;
  font-display: fallback;
  src: local("NanumMyeongjo"),
    url("./assets/fonts/NanumMyeongjo.woff2") format("woff2"),
    url("./assets/fonts/NanumMyeongjo.woff") format("woff");
}

body {
  margin: 0;
  font-size: 20px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-family: "Nanum Myeongjo Regular";
}
